@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    margin: 0;
    padding: 0;
  }
  
  html, body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
  }

  body {
    font-family: var(--font-sans);
    background-color: #FDFBF7;
  }

  .font-serif {
    font-family: var(--font-serif);
  }
}

